PySide6
beautifulsoup4==4.13.4
certifi==2025.4.26
distlib==0.3.9
filelock==3.18.0
google==3.0.0
packaging==25.0
pipenv==2025.0.3
platformdirs==4.3.8
protobuf==5.29.3
pynput==1.8.1
pyobjc-core==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-Quartz==11.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
virtualenv==20.31.2
geocoder==1.38.1

